{% extends "./base.html" %}

{% block title %}
    {% if tag %}
    Tag Page: {{ tag.name }}
    {% endif %}
    {% if category %}
    Category Page: {{ category.name }}
    {% endif %}
{% endblock %}

{% block main %}
    <ul>
        {% for post in post_list %}
        <li>
            <a href="{% url 'post-details' post.id %}">{{ post.title }}</a>
            <div>
                <span>Author:{{ post.owner.username }}</span>
                <span>Category:{{ post.category.name }}</span>
            </div>
            <p>{{ post.desc }}</p>
        </li>
        {% endfor %}
        {% if page_obj %}
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous page</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next page</a>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}